<sytle>
body{
  background-color:lightblue;
}
h1{
  color: 54, 36, 23;
  font-size: 80px;
  text-align: center;
  text-decoration-line: overline underline;
  text-decoration-thickness: 6px;
}
img{
  width: 25%;
}
img:hover{
  width: 40%;
} 
</sytle>
