<style>
body{
  background-color:#E2EFDE;
}
h1{
  color: black;
  font-size: 80px;
  text-align: center;
  text-decoration-line: overline underline;
  text-decoration-thickness: 6px;
}
img{
  <center>
  width: 25%;
}
nav{
  list-style-type: none;
  postition: fixed;
  background-color:#808F87;
  width: 100vw;
  top:0;
  left:0;
  padding: 20px;
}
li{
  display: inline;
  padding: 50px;
  color:#E2EFDE;
}
</style>
