body {
  background-color: #e2efde;
}
h1 {
  color: black;
  font-size: 80px;
  text-align: center;
  text-decoration-line: overline underline;
  text-decoration-thickness: 6px;
}
img {
  border-radius: 8px;
  width: 50%;
}
nav {
  list-style-type: none;
  postition: fixed;
  background-color: #808f87;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 20px;
}
li {
  display: inline;
  padding: 50px;
  color: #e2efde;
}
